*.cf
*.vcd
*.ghw
*.bit
*.edif
**/.Xil
*.cache
*.hw
*.xpr
**/usage_statistics*
*.jou
*.log
*.zip
*.cap
**/bin*
testgen/blake2b
testgen/blake2s
hashes*
*.aux
*.bcf
*.glo
*.ist
*.out
*.run.xml
doc/blake2.pdf
*.sw*
*.blg
*.bbl
*.bib.bak
